<h3 id="editing_song_title">Editing song</h3>

<%= render 'form' %>

<div class="btn-group">
<%= link_to 'Show Song', @song, :class => "btn btn-success" %> |
<%= link_to 'List of Songs', songs_path, :class => "btn btn-success" %>
</div>